
      body {
        background-color: #b69789;
      }
      input.ng-touched.ng-invalid {
        color: red;
        font-weight: 600;
      }
      .card {
        left: 40%;
        top: 30%;
        position: absolute;
        border: 2px solid #7a675e;
        padding: 1%;
        background-color: #9071638f;
        border-radius: 3%;
        box-shadow: 15px 15px 1px 0px #9071638f;
      }
      .card input {
        height: max-content;
        font-size: large;
        border-radius: 3%;
        padding: 1%;
      }
      .card label {
        color: black;
        padding: 1%;
        font-weight: 500;
        font-size: large;
      }

      .card button {
        border-radius: 3px;
        background-color: goldenrod;
        padding: 2%;
        margin-top: 3%;
        text-align: right;
      }
      .card p {
        font-weight: 600;
        font-size: large;
      }
      .result {
        font-weight: 700;
        font-size: larger;
        color: green;
      }
      .response {
        color: rgb(14, 14, 53);
      }